

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #fafafa;
}

.header {
    text-align: center;
    padding: 20px;
    background: #ff7043;
    color: white;
    
}

#searchBar {
    width: 60%;
    padding: 10px;
    margin: 15px auto;
    display: block;
    font-size: 16px;
}

.recipe-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.recipe-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.recipe-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    background: #ff7043;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.dishname{
  font-family: "Asimovian", sans-serif;
  margin-top: 40px;
}
.logobrand{
    width: 70px;
    margin-top: 30px;
}
.flex{
    display: flex;
    justify-content: center;
    gap: 20px;
   
}