body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #fafafa;
}

/*  NAV BAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff7043;
    padding: 15px 30px;
    color: white;
}

.navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/*  TITLE */
.title {
    text-align: center;
    margin-top: 20px;
    font-size: 26px;
    color: #333;
}

/*  SEARCH HEADER */
.header {
    text-align: center;
    padding: 20px;
    background: #ff7043;
    color: white;
}

#searchBar {
    width: 60%;
    padding: 10px;
    margin: 15px auto;
    display: block;
    font-size: 16px;
}

/*  RECIPE CARDS */
.recipe-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.recipe-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.recipe-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    background: #cc7659;
    color: white;
    border: none;
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
}

/* BRANDING */
.dishname {
  font-family: "Asimovian", sans-serif;
  margin-top: 40px;
}

.logobrand {
    width: 70px;
    margin-top: 30px;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 20px;
}
/* popupmessage */
.recipe-view {
    max-width: 700px;
    background: white;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    transition: 0.3s ease;
}

.recipe-view img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}

.recipe-view h2 {
    margin: 10px 0;
    color: #ff7043;
}

.recipe-view p {
    font-size: 17px;
    line-height: 1.5;
}

.recipe-view ul {
    padding-left: 20px;
}

.hidden {
    display: none;
}
